* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 70%;
    height: 100%;
    margin: auto;
    margin-bottom: 20px;
}

h1 {
    color: #1f5eaf;
    font-size: 30px;
    margin: 20px 0;
}

p {
    color: #707070;
    margin: 20px 0;
    justify-content: center;
    line-height: 23px;
}

/* FORMATAÇÃO DOS INPUT */

.input-calc {
    display: inline-block;
    flex-direction: column;
}

.input-calc span {
    color: #1f5eaf;
    font-size: 14px;
    margin-left: 3px;
}

.input-calc input {
    display: block;
    width: 130px;
    height: 35px;
    font-size: 14px;
    padding: 5px;
    padding-left: 10px;
    margin-right: 20px;
    border-radius: 10px;
    border: 1px solid #1f5eaf;
}

/* FORMATAÇÃO DOS BOTÕES */

button {
    padding: 15px 40px;
    margin: 10px 0;
    margin-right: 25px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.button-calc {
    background-color: #1f5eaf;
    color: white;
    transition: 0.3s;
}

.button-calc:hover {
    background-color: #164685;
}

.button-clean {
    background-color: orangered;
    color: white;
    transition: 0.3s;
}

.button-clean:hover {
    background-color: rgb(202, 55, 2);
}

/* FORMATAÇÃO TA TABELA */

table {
    border-spacing: 0;
    margin-top: 20px;    
    margin-bottom: 20px;
}

caption {
    font-size: 15px;
    font-weight: bold;
    background-color: #1f5eaf;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

table th {
    font-size: 14px;
    color: #1f5eaf;
    border-bottom: 1px solid #6666;
    text-align: left;
    padding: 10px 80px 10px 20px;
}

table td {
    font-size: 14px;
    color: #707070;
    border-bottom: 1px solid #6666;
    text-align: left;
    padding: 10px 80px 10px 20px;
}

/* FORMATAÇÃO DO RESULTADO */

.seu-imc {
    display: inline-flex;
    align-items: center;
    background-color: orangered;
    color: white;
    padding: 0 15px 0 15px;
    border-radius: 20px;
    height: 40px; 
    font-size: 18px;  
}

.seu-imc p {
    color: white;
}

.seu-imc span {
    padding-left: 10px;
    
}

/* FORATAÇÃO VERSÃO MOBILE */

@media screen and (max-width: 500px) {

    main {
        width: 80vw;
        height: 100%;
        margin: auto;
        margin-bottom: 20px;
    }
    
    caption {
        font-size: 12px;
    }
    
    table th {
        font-size: 11px;
        padding: 5px 10px 5px 10px;
    }
    
    table td {
        font-size: 11px;
        padding: 5px 10px 5px 10px;
    }

    .seu-imc {
        font-size: 14px;
        font-weight: bold;
    }
}